.navbar {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  background-color: #edefee;
  width: fit-content;
  z-index: 1000;
  flex-wrap: wrap;
  top: 0;
  position: fixed;
  padding-top: 1rem;
  color: #ffffff;
  font-weight: bold;
}
.navbar :first-child {
  margin-right: auto;
}
.navbar .navlink {
  font-family: 'markazi-text', serif;
  font-weight: medium;
  color: #495E57;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 16px;
  transition: background-color 0.3s ease;
}
.navbar a {
  font-family: 'markazi-text', serif;
  font-weight: medium;
  border-radius: 16px;
  color: #495E57;
  text-decoration: none;
  height: fit-content;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s ease;
}
.navbar a:hover {
  color: rgb(255, 255, 255);
  background-color: #495E57;
}
.navbar a.active {
  color: #fff;
  background-color: #333;
  border-radius: 16px;
}
.navbar .nav-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  margin: auto;
  padding: 0% 0;
}
.mobile-navbar {
    backdrop-filter: blur(10px);
    display: none;
    flex-direction: column;
    position: fixed;
    z-index: 1000;
    align-items: center;
    height: 100%;
    padding: 5rem;
    border-radius: 0;
    margin-right: 0;
    top: 0;
    right: 0;
    width: fit-content;
    background-color: #495e5769;
}
.mobile-navbar a {
  color: #495e57;
  font-weight: 900;
  align-items: flex-start;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
  border-radius: 16px;
  width: 100%;
  background-color: #edefee;
  transition: background-color 0.3s ease;
}
.mobile-navbar .navlink {
  font-family: 'markazi-text', serif;
  font-weight: medium;
  color: #edefee;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 16px;
  transition: background-color 0.3s ease;
}
.mobile-navbar a:hover {
  color: #fff;
  background-color: #333;
  width: 100%;
  padding: auto 16px;
}
.mobile-navbar img {
    justify-items: inherit;
  width: 100%;
  height: auto;
  padding: 1rem;
  margin-bottom: 1.2rem;
}
@media screen and (max-width: 1024px) {
  .nav-link {
    display: none;
  }
    .navbar {
        flex-direction: row;
        align-items: center;
        width: 100%;
    }
    .navbar :last-child {
        margin-right: 0;
    }
}
